.layui-form .layui-textarea {
    resize: none;
    height: 100px;
    overflow: auto;
}

.layui-form .layui-btn {
    position: relative;
}

.layui-form .layui-btn  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.layui-form-switch {
    height: 36px;
    line-height: 36px;
    margin-top: 0px !important;
    margin-left: 1px !important;
    border-radius: 0px!important;
}

.layui-form-switch i{
    top:10px;
}